body {
    width: 100%;
    height: auto;

}

heading {
    width: 100%;

}

header {
    float: left;

}
nav {
    float: right;

}

#p1 {
    float: left;
    margin-left: 20px;

}

#p2 {
    float: left;
    margin-left: 20px;

}

#p3 {
    float: left;
    margin-left: 20px;

}

#content {
    clear: both;
    overflow: auto;
    border: 1px solid pink;
    width: 100%;
    max-width: 960px;

}
h1 {
    margin-left: 20px;
}


.button {
    background-color: #4aaaa5;
    border: 1px solid #cccccc;
    height: 30px;
    width: 80px; 

}

#footer {
position: fixed;
   background: #666666; 
   left: 0;
   bottom: 0;
   width: 100%; 
}
input {
    width: 90%;
}