body {
    width: 70%;
    margin: auto;
    background-image: url("../images/palm-leaf.png");  
    border: #4aaaa5;
    height: 50%;
}


heading{
    float:left;
    width: 100px;
    height: 5px;
    padding: 30px;
    background:  #4aaaa5;
}
nav{
    float:right;
    margin-top: 20px;
}
header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:#ffffff;
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;

}


#p1 {
    float: left;
    margin-right: 20px;
}
#p2 {
    float: left;
    margin-right: 20px;
}
#p3 {
    float: left;
    margin-right: 20px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    overflow: auto;
    color: #4aaaa5;
    font-size: 24px;
}


.main-content {
    width: 960px;
    height: 300px;
   margin-top: 80px;
   background: #ffffff;
   border: 5px;
   border-color: #dddddd;  
   
}
img {
    float: left;
    width: 100px;
    height: 100px;
}

#para {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}

 
    

