body {
    width: 70%;
    margin: auto;
    background-image: url("sun-pattern.png");
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    display: block;
    width: 10%;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    display: block;  
    background: #ffffff; 
    width: 40%;
    margin-top: 20px;
}

#p1 {
    float: left;
    margin-right: 20px;
}
#p2 {
    float: left;
    margin-right: 20px;
}
#p3 {
    float: left;
    margin-right: 20px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    overflow: auto;
    color: #4aaaa5;
}
.main-content {
    width: 960px;
   margin: auto;
   background: #ffffff;
   border: 5px;
   border-color: #dddddd; 
}
img {
    float: left;
    width: 100px;
    height: 100px;;
}
#para {
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
}