
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 35px;
    color: #777;
    background-image: url("../images/palm-leaf.png")
  }
  
  .head-el {
    border: 1px solid #dddddd;
    margin-left: 200px;
    float: left;
    
    color: white;  
    padding: 10px;
    background: #4aaaa5;
    font-weight: bold; 
    text-align: center;
    margin-top:20px;
  
  }
  
  header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:#ffffff;
    display: block;
    top: 0;
    left: 0;
    right: 0;  
    border-bottom: 1px solid #cccccc;
    position: fixed; 
    width: 110%;
  }
  
  nav{
     float:right;
     margin-right:300px;
     font-size: 14px;
  }
  
  
  #p1 {
     float: left;
     margin-right: 20px;
  }
  #p2 {
     float: left;
     margin-right: 20px;
  }
  #p3 {
     float: left;
     margin-right: 20px;
  }

  h2 {
      font-family: Georgia, 'Times New Roman', Times, serif;
      color: #4aaaa5;
      margin-left: 20px;
  }
  hr {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

.container {
    background: white;
    display: block;
    border: 1px solid black;
    width: 700px;
    height: 600px;
    margin-left: 200px;
    clear: both;
    margin-top:130px;
    
  
}
.img-container{
    position: relative;
    width:700px;
    height: 800px;
}

.text {
    position: relative;
    top: -80px;
    left: 16px;
    color: white;
    background:#4aaaa5;
    width: 150px;
    margin-left: 10px;
    text-align: center;
    
}

.img, .img1, .img2, .img3, .img4{
    position: absolute;
}

.img{
    top: 20px;
    left: 50px;  
}

.img1 {
    top: 20px;
    right:50px;
}

.img2 {
   left:50px;
    bottom:400px;
}
.img3 {
    right:50px;
    bottom: 400px;
}

.img4{
    left: 50px;
    bottom:250px;
}


.footer {
    position: fixed;
    background: #666666; 
    left: 0;
    bottom: 0;
    width: 100%;  
    border-top: 10px solid #4aaaa5;
    padding: 10px;
  }
  
 


